/* 
    Document   : error
    Created on : 2013-dec-06, 10:18:57
    Author     : Stefan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#body .container {
    overflow-y: auto;
}

#body .container .content {
    height: auto;
    overflow-y: auto;
}