/* 
    Document   : product
    Created on : 2013-nov-18, 11:32:57
    Author     : Stefan
    Description:
        Purpose of the stylesheet follows.
*/

#body .container.product {
    overflow: hidden;
}

#body .container.product .header {
    height: auto;
    
    overflow:visible;
    
    margin-bottom: 0px;
}

#body .container.product .header div.icon {
    display: block;
}

#body .container.product .price {
    position: absolute;
    display: block;
    right: 12px;
    top: 12px;
    
    float: right;
}

#body .container.product .buy {
    display: block;
    width: auto;
    min-height: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    margin-top: 48px;
    
    position: relative;
    
    float: right;
}

#body .container.product .buy .buy_element {
    margin-bottom: 6px;
}

#body .container.product .buy label,
#body .container.product .buy div:not(.clear):not(.add_to_cart):not(.amount):not(.buy_element),
#body .container.product .buy select,
#body .container.product .buy option,
#body .container.product .buy input,
#body .container.product .buy button {
    position: relative;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 28px;
    min-width: 24px;
    
    margin: 6px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 0px 6px 0px 6px;
    padding: 2px 12px;
    
    font-family: 'Fira Sans', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    
    background-color: rgb(255, 255, 255);
    
    outline: none;
}

#body .container.product .buy label {
    cursor: pointer;
    position: absolute;
    left: 8px;
    top: -8px;
}

#body .container.product .buy > * {
    position: relative;
    
    float: left;
}

#body .container.product .buy select {
    position: relative;
    
    float: right;
}

#body .container.product .buy select option:last-child {
    border-radius: 0px 0px 6px 6px;
}

#body .container.product .buy label.antal {
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: bold;
    
    color: rgb(153,153,153);
}

#body .container.product .buy input.antal {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    width: 26px;
    height: 22px;
    
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153,153,153);
    
    color: rgb(153,153,153);
    
    font-weight: bold;
    text-align: center;
    
    background-color: rgb(252, 252, 252);
}

#body .container.product .buy input.antal,
#body .container.product .buy input.antal ~ label.antal {
    transition: border-color 300ms ease-in-out,
                color 300ms ease-in-out,
                width 300ms ease-in-out;
}

#body .container.product .buy input.active,
#body .container.product .buy input.valid,
#body .container.product .buy select.active,
#body .container.product .buy select.valid,
#body .container.product .buy textarea.active
#body .container.product .buy textarea.valid {
    padding: 1px 11px;
    border-width: 2px;
    border-style: solid;
    border-color: #0290D0;
    color: #0290D0;
}

#body .container.product .buy label.antal.active,
#body .container.product .buy label.antal.valid {
    color: #0290D0;
}

#body .container.product .buy input.error,
#body .container.product .buy select.error,
#body .container.product .buy textarea.error {
    padding: 1px 11px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(217,125,50);
    color: #000;
}

#body .container.product .buy label.antal.error_label {
    color: rgb(217,125,50);
}

#body .container.product .buy button {
    transition: border-color 300ms ease-in-out,
                background-color 300ms ease-in-out,
                box-shadow 300ms ease-in-out,
                color 300ms ease-in-out
    
    display: inline-block;
    width: auto;
    padding-right: 32px;
    
    position: relative;
    
    cursor: pointer;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    
    line-height: 20px;
    
    background-image: url('../img/ui/icons/buy_inactive.svg');
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: 20px 20px;
    
    background-color: rgb(241, 241, 241);
    border-color: rgb(129,178,70);
    color: rgb(153,153,153);
    font-weight: bold;
}

#body .container.product .buy button:not(.active):hover {
    cursor: pointer;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    
    border-color: rgb(217,125,50);
    background-color: rgb(239,176,129);
    
    color: rgb(217,125,50);
}

#body .container.product .buy button.active,
#body .container.product .buy button.active:hover {
    cursor: pointer;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    
    background-image: url('../img/ui/icons/buy.svg');
    background-color: rgb(195,235,153);
    
    color: rgb(0,0,0);
}

#body .container.product .buy button:not(.active):hover {
    box-shadow: rgb(239,176,129) 0px 0px 12px;
}

#body .container.product .buy button.active:hover {
    box-shadow: #80DC09 0px 0px 12px;
}

#body .container.product .buy button.processing {
    background-image      :       url('../img/ui/icons/product_processing_invalid.gif');
    background-size       :       16px 16px;
}

#body .container.product .buy button.active.processing {
    background-image      :       url('../img/ui/icons/product_processing.gif');
    background-size       :       16px 16px;
}

#body .container.product .buy button img {
    display: inline-block;
    
    position: relative;
    float: right;
    
    max-width: 20px;
    max-height: 20px;
}

#body .container.product .buy label {
    display: inline-block;
    /* width: 100%; */
    height: 16px;
    border: none;
    background-color: transparent;
    
    margin: 0px;
    padding: 0px;
    
    font-size: 12px;
    line-height: 16px;
}

#body .container.product .buy .add_to_cart {
    display: block;
    
    position: relative;
    bottom: 0px;
    right: 0px;
    
    float: left;
}

#body .container.product .buy .add_to_cart > * {
    display: inline-block;
    
    text-align: center;
}

#body .container.product .image { /* For Product Pages */
    width: calc( 100% + 25px );
    left: -12px;
    
    padding: 12px 0px;
}

#body .container.product .carousel_wrapper,
#body .container.product .carousel_wrapper *{
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#body .container.product .image img.indicator {
    top: -2px;
}

#body .container.product .content {
    transition: all 300ms ease-in-out;
    
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    width: calc( 100% + 24px );
    height: auto;
    
    margin: -12px;
    margin-top: 0px;
    padding: 12px;
    
    border-top: none;
    border-radius: 0px 0px 12px 12px;
    
    position: relative;
    
    overflow: hidden;
    
    background: #fff;

    font-family: 'Fira Sans', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
    
    line-height: 20px;
}

#body .container.product .content .content_tabs {
    display: inline-block;
    width: calc( 100% + 24px );
    height: auto;
    
    margin-bottom: 24px;
    
    position: relative;
    top: -12px;
    left: -12px;
    
    border: none;
}

#body .container.product .content .content_tabs,
#body .container.product .content .content_tabs li {
    margin: 0;
    padding: 0;
    
    list-style: none;
    list-style-type: none;
    
    text-align: center;
}

#body .container.product .content .content_tabs li {
    display: block;
    
    float: left;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    padding: 0px;
    
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    
    color: #000;
    
    font-size: 14px;
    
    background: rgb(241, 241, 241);
}

#body .container.product .content .content_tabs.four li {
    width: 25%;
}

#body .container.product .content .content_tabs.three li {
    width: calc( 100% / 3 );
}

#body .container.product .content .content_tabs.two li {
    width: 50%;
}

#body .container.product .content .content_tabs li.active {
    border-width: 2px 2px 0px;
    border-radius: 5px 5px 0px 0px;
    
    background: rgb(255,255,255);
}

#body .container.product .content .content_tabs li:first-child.active {
    border-width: 2px 2px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}

#body .container.product .content .content_tabs li:last-child.active {
    border-width: 2px 0px 0px 2px;
    border-radius: 5px 0px 0px 0px;
}

#body .container.product .content .content_tabs li:hover {
}

#body .container.product .content .content_tabs li a {
    
    display: block;
    height: 100%;
    min-height: 30px;
    width: 100%;
    
    padding: 4px 0px 2px;
    color: #999;
    
    font-variant: small-caps;
}

#body .container.product .content .content_tabs li.active a {
    padding: 2px 0px 4px;
}

#body .container.product .content .content_tabs li:first-child a{
    padding-left: 1px;
    padding-right: 1px;
}

#body .container.product .content .content_tabs li:first-child.active a{
    padding-left: 2px;
    padding-right: 0px;
}

#body .container.product .content .content_tabs li:last-child a{
    padding-left: 1px;
    padding-right: 1px;
}

#body .container.product .content .content_tabs li:last-child.active a{
    padding-left: 0px;
    padding-right: 2px;
}
    
#body .container.product .content .content_tabs li.active a,
#body .container.product .content .content_tabs li a:hover {
    color: #0290D0;
}

#body .container.product .content .content_tabs li a img {
    transition: all 300ms ease-in-out;
    
    display: block;
    width: 30px;
    height: 30px;
    
    margin: 0 auto;
    
    position: relative;
    
    border: none;
    
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
    -moz-filter:grayscale(100%);
}

#body .container.product .content .content_tabs li.active a img,
#body .container.product .content .content_tabs li a:hover img {
    filter:grayscale(0%);
    -webkit-filter:grayscale(0%);
    -moz-filter:grayscale(0%);
}

#body .container .content .content_information {
    display: block;
    position: relative;
}

#body .container.product.product .content .content_data {
    display: none;
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0.0;
}

#body .container.product.product .content .content_data > div:not(:first-child) {
    margin-top: 24px;
}

#body .container.product.product .content .content_data h4 {
    color: #000;
    font-size: 20px;
    font-weight: normal;
    
    margin-bottom: 12px;
}

#body .container.product.product .content .content_data .columns_two h4 {
    display: block;
    
    column-span: all;
    -webkit-column-span: all;
    -moz-column-span: all;
}

#body .container.product.product .content .content_data .columns_two p:first-of-type {
    display: block;
    column-span: all;
    -webkit-column-span: all;
    -moz-column-span: all;
    
    font-style: italic;
}

#body .container.product.product .content .content_data.active {
    display: block;
    opacity: 1.0;
}

#body .container.product.product .content .content_data table {
    display: table;
    width: 100%;
    
    border-collapse: collapse;
    
    border-radius: 0px 0px 5px 5px;
    
    font-family:'Trebuchet MS', 'Fira Sans', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
}

#body .container.product.product .content .content_data table tbody,
#body .container.product.product .content .content_data table tbody tr:last-child {
    border-radius: 0px 0px 5px 5px;
}

#body .container.product.product .content .content_data table tbody tr:last-child td:first-child {
    border-radius: 0px 0px 0px 5px;
}

#body .container.product.product .content .content_data table tbody tr:last-child td:last-child {
    border-radius: 0px 0px 5px 0px;
}

#body .container.product.product .content .content_data table thead {
    font-family:'Fira Sans', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
}

#body .container.product.product .content .content_data table td {
    width: calc( 100% / 3 );
    padding: 3px 6px;
}

#body .container.product.product .content .content_data table tbody tr:not(.title):nth-child(odd) {
    background-color: #fafafa;
}

#body .container.product.product .content .content_data table tbody tr:not(.title):nth-child(even) {
    background-color: #f0f0f0;
}

#body .container.product.product .content .content_data table tbody tr.title:not(:first-child) td {
    padding-top: 12px;
}

#body .container.product.product .content .content_data table tr td {
    text-align: center;
}

#body .container.product.product .content .content_data table tr td:first-child {
    text-align: left;
}

#body .container.product.product .content .content_data table h5 {
    width: 100%;
    
    color: rgb(217,125,50);
    
    font-family: 'Fira Sans', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    
    text-transform: none;
}

@media (max-width: 730px) {
    #body .container.product .content .content_tabs li a span {
        display: none;
    }
}
