/* 
    Document   : product
    Created on : 2013-nov-18, 11:32:57
    Author     : Stefan
    Description:
        Purpose of the stylesheet follows.
*/

#body .container .content .content_tabs {
    display: block;
    width: 100%;
    height: 40px;
    
    position: absolute;
    top: 0px;
    left: 0px;
    
    border: none;
}

#body .container .content .content_tabs,
#body .container .content .content_tabs li {
    margin: 0;
    padding: 0;
    
    list-style: none;
    list-style-type: none;
    
    text-align: center;
}

#body .container .content .content_tabs li {
    display: block;
    width: 25%;
    
    float: left;
    
    box-sizing: border-box;
    
    padding: 0px;
    
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    
    color: #000;
    
    font-size: 14px;
    
    background: rgb(241, 241, 241);
}

#body .container .content .content_tabs li.active {
    border-width: 2px 2px 0px;
    border-radius: 5px 5px 0px 0px;
    
    background: rgb(255,255,255);
}

#body .container .content .content_tabs li:first-child.active {
    border-width: 2px 2px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}

#body .container .content .content_tabs li:last-child.active {
    border-width: 2px 0px 0px 2px;
    border-radius: 5px 0px 0px 0px;
}

#body .container .content .content_tabs li:hover {
}

#body .container .content .content_tabs li a {
    
    display: block;
    height: 100%;
    min-height: 30px;
    width: 100%;
    
    padding: 4px 0px 2px;
    color: #999;
}

#body .container .content .content_tabs li.active a {
    padding: 2px 0px 4px;
}

#body .container .content .content_tabs li:first-child a{
    padding-left: 1px;
    padding-right: 1px;
}

#body .container .content .content_tabs li:first-child.active a{
    padding-left: 2px;
    padding-right: 0px;
}

#body .container .content .content_tabs li:last-child a{
    padding-left: 1px;
    padding-right: 1px;
}

#body .container .content .content_tabs li:last-child.active a{
    padding-left: 0px;
    padding-right: 2px;
}
    
#body .container .content .content_tabs li.active a,
#body .container .content .content_tabs li a:hover {
    color: #000;
}

#body .container .content .content_tabs li a img {
    transition: all 300ms ease-in-out;
    
    display: block;
    width: 30px;
    height: 30px;
    
    margin: 0 auto;
    
    position: relative;
    
    border: none;
    
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
    -moz-filter:grayscale(100%);
}

#body .container .content .content_tabs li.active a img,
#body .container .content .content_tabs li a:hover img {
    filter:grayscale(0%);
    -webkit-filter:grayscale(0%);
    -moz-filter:grayscale(0%);
}

#body .container.product .content .content_data {
    display: none;
    height: auto;
    position: relative;
    opacity: 0.0;
}

#body .container.product .content .content_data h4 {
    display: block;
    column-span: all;
    -webkit-column-span: all;
    
    color: #000;
    font-size: 20px;
    font-weight: normal;
    
    margin-bottom: 12px;
}

#body .container.product .content .content_data.active {
    display: block;
    opacity: 1.0;
}

#body .container.product .content #rabatter table {
    display: table;
    width: 100%;
    
    border-collapse: collapse;
    
    border-radius: 0px 0px 5px 5px;
    
    font-family:'Trebuchet MS', 'Fira Sans', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
}

#body .container.product .content #rabatter table tobdy,
#body .container.product .content #rabatter table tobdy tr:last-child {
    border-radius: 0px 0px 5px 5px;
}

#body .container.product .content #rabatter table tobdy tr:last-child td:first-child {
    border-radius: 0px 0px 0px 5px;
}

#body .container.product .content #rabatter table tobdy tr:last-child td:last-child {
    border-radius: 0px 0px 5px 0px;
}

#body .container.product .content #rabatter table thead {
    font-family:'Fira Sans', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
}

#body .container.product .content #rabatter table td {
    width: calc( 100% / 3 );
    padding: 3px 6px;
}

#body .container.product .content #rabatter table tbody tr:not(.title):nth-child(odd) {
    background-color: #fafafa;
}

#body .container.product .content #rabatter table tbody tr:not(.title):nth-child(even) {
    background-color: #f0f0f0;
}

#body .container.product .content #rabatter table tbody tr.title:not(:first-child) td {
    padding-top: 12px;
}

#body .container.product .content #rabatter table tr td {
    text-align: center;
}

#body .container.product .content #rabatter table tr td:first-child {
    text-align: left;
}

#body .container.product .content #rabatter table h5 {
    width: 100%;
    
    color: rgb(217,125,50);
    
    font-family: 'Fira Sans', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    
    text-transform: none;
}
